@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Language Blogs</h1>
    <p class="lead">This is a summary of blog entries in the language learning community.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blog 1</h2>
        <p>
            Blog 1 description
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>